.navbar {
  background: linear-gradient(135deg, #ff4500, #ff8c00);
}

.navbar-nav .nav-link {
  color: red;
}

.dropdown-menu {
  background-color: #1f2937;
}

.dropdown-item {
  color: #fff;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #2d3e50;
  color: #2abe0d;
}

.font-naruto {
  font-family: "Naruto", sans-serif;
  color: #12e9f8;
}
